h1 Post grid
.wrapper
  .grid
    .card
      .card_image
        img(src="https://static.pexels.com/photos/23049/pexels-photo.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share
  .grid
    .card
      .card_image
        img(src="https://static.pexels.com/photos/23049/pexels-photo.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share
  .grid
    .card
      .card_image
        img(src="https://static.pexels.com/photos/23049/pexels-photo.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share  