h1 Post grid
.wrapper
  .grid
    .card
      .card_image
        img(src="http://wallfon.com/walls/mountains/magnificent-snowy-mountains-and-blue-sky.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share
  .grid
    .card
      .card_image
        img(src="https://studio370.com.ua/wp-content/uploads/2017/02/1.jpg" alt="")
        .card_all.card_all_pink
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share
  .grid
    .card
      .card_image
        img(src="http://www.worldatlas.com/r/w728-h425-c728x425/upload/09/1c/08/aconcagua.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share  
  .grid
    .card
      .card_image
        img(src="https://www.walldevil.com/wallpapers/w08/women-sea-sunset-beaches-bikinis-waves.jpg" alt="")
        .card_all.card_all_pink
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share  
  .grid
    .card
      .card_image
        img(src="http://content.active.com/Assets/Active.com+Content+Site+Digital+Assets/Running/580/run+better-11.jpg" alt="")
        .card_all.card_all_blue
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share  
  .grid
    .card
      .card_image
        img(src="http://www.bikes.com/sites/default/files/styles/homeslide_tall/public/multiple/Rocky_Mountain_Tyler_Roemer_hires-005_0.jpg?itok=HWsWFgVr" alt="")
        .card_all.card_all_pink
          .card_all_content
            ul.card_meta
              li
                a(href='#0')
                  i.fa.fa-tag 
                  |  UI/UX
              li
               a(href='#0')
                 i.fa.fa-clock-o
                 |  2 days ago
            a.card_title(href='#0') How to create your world in coding
            ul.card_meta_last
              li
                a(href='#0')
                  i.fa.fa-user
                  |  Amelie
              li
               a(href='#0')
                  i.fa.fa-facebook-square
                  |  Share  